# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store

# IDEs
.idea

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
reserve-data
config.json
log/*
cmd/*_awsconfig.json
cmd/cmd
cmd/core.db
cmd/log.log
cmd/parity.pid
cmd/*.db
data/storage/test_bolt.db
cmd/faucet/config.json
cmd/faucet/faucet
cmd/faucet/faucet_wallet
temp
build.sh
cmd/config.json
cmd/dev.db
cmd/internal_mainnet.db
cmd/internal_mainnet_config.json
cmd/internal_mainnet_keystore
cmd/internal_mainnet_deposit_keystore
cmd/staging_keystore
cmd/staging_deposit_keystore
cmd/kovan.db
cmd/settings.json
cmd/staging.db
cmd/staging_config.json
cmd/mainnet.db
cmd/mainnet_config.json
cmd/mainnet_deposit_keystore
cmd/mainnet_keystore
cmd/mainnet_intermediate_account_keystore
cmd/staging_intermediate_account_keystore
debugger.txt
log.log
run.sh
test/
cmd/verification/verification
cmd/comparerates/comparerates
cmd/ropsten.db
cmd/binance.db
cmd/bittrex.db
cmd/dev_analytics.db
cmd/dev_exchanges.db
cmd/dev_logs.db
cmd/dev_rates.db
cmd/dev_stats.db
cmd/dev_users.db
cmd/exchange.db
cmd/huobi.db
cmd/mainnet_analytics.db
cmd/mainnet_logs.db
cmd/mainnet_rates.db
cmd/mainnet_stats.db
cmd/mainnet_users.db
cmd/keystore
cmd/deposit_keystore
